#lien{

    color:black;

}

.p-acceuil {
	color: #A5B4FC;
	font-weight: bold;
}

.degrader{

    background: linear-gradient(#8E86B5,#ACAEED );
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: normal;
    border-radius: 50px 50px 50px 50px;

}

h1{

    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;

}

h2 {

    color: #F9F8FF;
    background-color: darkblue;

}

.texte-a-propos{

    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    color: #F9F8FF;
    background-color: darkblue;
    border-right: 1px #8e86b5 solid;
    border-bottom: 1px #8e86b5 solid;

}

p {

    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    color: #F9F8FF;
    background-color: darkblue;

}

ul {

    font-size: 1em;
    font-family: 'Manrope', sans-serif;
    color: #F9F8FF;
    background-color: darkblue;

}

a {

    font-size: 1em;
    text-decoration: normal;
    font-family: 'Manrope', sans-serif;
    color: #242424;

}

div {

    background-color: white;

}

body {

    background-color: #1F2039;

}
