#lien{

    color:black;

}

.p-acceuil {
	color: #A5B4FC;
	font-weight: bold;
}

.degrader{

    background: linear-gradient(#8E86B5,#ACAEED );
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: normal;
    border-radius: 50px 50px 50px 50px;

}

header,
footer {

    background-color: white;

}

.texte-a-propos{

    border-right: 1px #8e86b5 solid;
    border-bottom: 1px #8e86b5 solid;

}


h1{

    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;

}

h2 {

    color: #F9F8FF;
    background-color: darkblue;

}


p {

    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
    color: #F9F8FF;
    background-color: darkblue;

}

ul {

    font-size: 1em;
    font-family: 'Manrope', sans-serif;
    color: #F9F8FF;
    background-color: darkblue;

}

a {

    font-size: 1em;
    text-decoration: normal;
    font-family: 'Manrope', sans-serif;
    color: #242424;

}

body {

    background-color: #1F2039;

}

a:hover {

    text-decoration: underline;

}

.degrader:hover {

    background: linear-gradient(#696484,#8788BA);

}

#lien:hover {

    opacity: 0.5;

} 

.robbie:hover{

    border: 2.5px red solid;
    box-shadow: box-shadow:
    23.5px 39.9px 10px rgba(0, 0, 0, 0.246),
    43px 73px 80px rgba(0, 0, 0, 0.33);
    
}