.texte-a-propos{
    border-right: 1px #8e86b5 solid;
    border-bottom: 1px #8e86b5 solid;
    margin: auto;
    padding: 50px;
}

.a-propos-main {
    width: 75%;
    margin: auto;
}

td, th {

    border: 2px solid #A5B4FC;
    padding: 15px;

}

td {

    padding: 5%;
    align-content: center;

}

table{

    border-collapse: collapse;
    margin: auto;
    width: 100%;
    color: white;

}

caption {

    margin: 10%;
    font-size: 4em;
    color: #A5B4FC;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}